<!DOCTYPE html>
<html>
  <head>
    <title>basic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ static_url("lib/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("lib/underscore.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("lib/backbone.js") }}"></script>
  </head>
  <body>
    <ul>
      <h2>my backbone.js application</h2>
      <li><a href="/example/backbone-wine-cellar">backbone-wine-cellar</a></li>
      <li><a href="/example/todos">todos</a></li>
    </ul>
  </body>
</html>
