<!DOCTYPE html>
<html>
  <head>
    <title>basic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/todo-base.css">

  </head>
  <body>
    <div style="text-align:left"><a href="/" >back...</a></div>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <input id="new-todo" placeholder="What needs to be done?" autofocus>
      </header>
      <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list"></ul>
      </section>
      <footer id="footer"></footer>
  </section>
    <script type="text/template" id="item-template">

      <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
        <label><%- title %></label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="<%- title %>">

    </script>
   <script type="text/template" id="stats-template">
    <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
    <ul id="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <% if (completed) { %>
      <button id="clear-completed">Clear completed (<%= completed %>)</button>
    <% } %>
   </script>
    <script type="text/javascript" src="/static/lib/jquery.js"></script>
    <script type="text/javascript" src="/static/lib/underscore.js"></script>
    <script type="text/javascript" src="/static/lib/backbone.js"></script>
    <script src="/static/lib/backbone.localStorage.js"></script>
    <script src="/static/js/models/todo.js"></script>
    <script src="/static/js/collections/todos.js"></script>
    <script src="/static/js/views/todos.js"></script>
    <script src="/static/js/views/app-todo.js"></script>
    <script src="/static/js/routers/router.js"></script>
    <script src="/static/js/app-todo.js"></script>
  </body>
</html>
