<!DOCTYPE html>
<html>
  <head>
    <title>basic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/todo-base.css">
    <script type="text/javascript" src="{{ static_url("lib/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("lib/underscore.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("lib/backbone.js") }}"></script>
    <script src="/static/lib/backbone.localStorage.js"></script>
    <script src="/static/js/models/todo.js"></script>
    <script src="/static/js/collections/todos.js"></script>
    <script src="/static/js/views/todos.js"></script>
    <script src="/static/js/views/app-todo.js"></script>
    <script src="/static/js/routers/router.js"></script>
    <script src="/static/js/app-todo.js"></script>
  </head>
  <body>

  </body>
</html>
